<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Journal Alimentaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/foods.svg" ></ion-img>
      <ion-card-header>
        <ion-card-subtitle>MyHealth</ion-card-subtitle>
        <ion-card-title>Aujourd'hui {{ today }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Enregistrez vos aliments de ce jour ici.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Mes aliments</ion-label>
      </ion-list-header>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Aliment 1</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Aliment 2</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
