<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Journal Alimentaire
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        
      </ion-button>
      <ion-button (click)="navigateToSearchMeal()"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/healthy.jpg" ></ion-img>
      <ion-card-header>
        <ion-card-subtitle>MyHealth</ion-card-subtitle>
        <ion-card-title>Aujourd'hui {{ today }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Aliments : {{ caloriesToday }} kcal / Objectif : {{ caloriesGoal }} kcal</ion-label>
 
      </ion-card-content>
    </ion-card>

    <ion-list>
      
        <ion-item *ngFor="let item of meals">
          <ion-label>{{ item.quantity }}</ion-label>
            {{ item.name }}
            <div class="item-note" slot="end">
                {{ item.calories }} kcal
            </div>
            <ion-button slot="end" expand="block" (click)="remove(item.id)">-</ion-button>
        </ion-item>
    </ion-list>

    <!-- <ion-list lines="none">
      <ion-list-header>
        <ion-label>Mes aliments</ion-label>
      </ion-list-header>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Aliment 1</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Aliment 2</ion-label>
      </ion-item>
      
    </ion-list> -->
</ion-content>
